<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

<form action="check" method="POST">
    <select name="team" class="ui dropdown">
        <option value="1610612755">76ers</option>
        <option value="1610612757">Blazers</option>
        <option value="1610612749">Bucks</option>
        <option value="1610612741">Bulls</option>
        <option value="1610612739">Cavaliers</option>
        <option value="1610612738">Celtics</option>
        <option value="1610612746">Clippers</option>
        <option value="1610612763">Grizzlies</option>
        <option value="1610612737">Hawks</option>
        <option value="1610612748">Heat</option>
        <option value="1610612766">Hornets</option>
        <option value="1610612762">Jazz</option>
        <option value="1610612758">Kings</option>
        <option value="1610612752">Knicks</option>
        <option value="1610612747">Lakers</option>
        <option value="1610612753">Magic</option>
        <option value="1610612742">Mavericks</option>
        <option value="1610612751">Nets</option>
        <option value="1610612743">Nuggets</option>
        <option value="1610612754">Pacers</option>
        <option value="1610612740">Pelicans</option>
        <option value="1610612765">Pistons</option>
        <option value="1610612761">Raptors</option>
        <option value="1610612745">Rockets</option>
        <option value="1610612759">Spurs</option>
        <option value="1610612756">Suns</option>
        <option value="1610612760">Thunder</option>
        <option value="1610612750">Timberwolves</option>
        <option value="1610612744">Warriors</option>
        <option value="1610612764">Wizards</option>
    </select>
    <input type="submit" value="OK">
</form>
